/* Body */
body{
    background-color: #FAF0E6; 
}

.navbar {
    background-color: #48D1CC;
}

.navbar-expand-lg {
    background-color: #48D1CC;
}

.navbar-light {
    background-color: #48D1CC;
}

.bg-light {
    background-color: #48D1CC;
}